body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    min-height: 100vh;
    background-repeat: no-repeat;
    background: hsla(238, 100%, 71%, 1);

background: linear-gradient(135deg, #6b70ff 0%,#d611e8 67%);

}
.container{

    width: 100%;
    /* position: relative; */
    width: 300px; 
    height: 400px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgb(85, 111, 117); 
    border-radius: 20px;
    box-shadow:5px 5px #162938;
    background-color: #e2c2ff;
    color: aliceblue;
    
}
.login{
    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);


}
.form{
    position: relative;
    width:96%;
    height: 50px;
    border-bottom: 2px solid #000;
    color: black;
   
}

input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;

}

.forget{
    text-decoration: none;
    color: #000;
    font-size: small;
   float: right;
}
.register a{
    text-decoration: none;
}
.icon{
    position: absolute;
    right: 10px;
    font-size: 1.2rem;
    color: #162938;
    line-height: 70px;
}
.login{

    border-radius: 20px;
}